.inlinesearch {
    float: right;
    margin: 0 3px .5em 1em;
}

.inlinesearch input {
    border: 1px solid #ccc;
    padding: 2px 2px 2px 20px;
    margin: 0 2px 0 0;
}

.inlinesearch * {
    margin: 0;
    padding: 0;
}

div.metalist {
    clear: both;
    list-style: none;
    margin: 1em 2px .5em;
    padding: 0;
}

a.metaentry {
    display: block;
    border: 1px solid #ccc;
    margin: 0 0 -1px;
    padding: .2em 1em .2em 20px;
    cursor: pointer;
    cursor: hand;
}

a.metaentry:hover {
    border: 1px solid #ccc;
    background: #eee;
}

a.metaentry img.entryicon {
    display: none;
}

a.metaentry:hover img.entryicon {
    display: inline;
    top: 0;
    bottom: 0;
    clear: both;
    float: right;
    margin: 1em;
    padding: 3px;
    border: 1px solid #999;
}

div.favourite {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    background-color: #eee;
}

#favouritesubmit {
    margin-top: 1ex;
}

#favouriteremember {
    margin: 1ex 0 0;
}

div#content {
    margin: .4em ! important;
}

form {
    display: inline;
}

table#statmeta {
    width: 100%;
}

ul.tabset-tabs {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.tabset-tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabset-tabs li.current {
    background: #ededed;
    color: #222;
}

.tabset-content {
    display: none;
    background: #ededed;
    padding: 15px;
}

.tabset-content.current {
    display: inherit;
}
